<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <title>CSCI-4178 Dashboard</title>
    </head>

    <body>
        <div class="container">
            <div class="mt-4 p-5 bg-primary text-white rounded">
                <h1>CSCI-4178 Dashboard</h1>
                <h3>Keeping track of all the labs and assignments uptime</h3>
            </div>
            {% block content %}
            <div class="row mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Lab</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in lab_machines %}
                        {% if data['status'] == False %}
                        <tr class="bg-warning rounded">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td><a href="{{ data['link'] }}">{{ data['name'] }}</a></td>
                            <td>{{ data['status'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">CTF</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in ctf_machines %}
                        {% if data.status == False %}
                        <tr class="bg-warning rounded">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td><a href='{{ data.link }}'>{{ data.name }}</a></td>
                            <td>{{ data.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endblock content %}
        </div>

    </body>
</html>